#Ignore
reek_fullmatrix/*/*/eclipse/model/*
reek_fullmatrix/*/*/eclipse/include/*
reek_fullmatrix/*/*/share/results/maps/*
reek_fullmatrix/*/*/share/results/grids/*
reek_fullmatrix/*/*/share/results/seismic/*
reek_fullmatrix/*/*/rms
reek_fullmatrix/*/*/sim2seis
reek_fullmatrix/*/*/share/results/tables/eclgrid.csv
*stderr*
*stdout*
*.log*
*target
*INC
*.OK
*JOB_LOG
*lsf_info.json
*rms_exec_env.json

#Include selection of large files
!reek_fullmatrix/realization-0/iter-0/eclipse/*/*
!reek_fullmatrix/*/*/eclipse/model/*.UNSMRY
!reek_fullmatrix/*/*/eclipse/model/*.DATA
!reek_fullmatrix/*/*/eclipse/model/*.SMSPEC
!reek_fullmatrix/*/*/eclipse/model/*.RFT
!reek_fullmatrix/realization-0/iter-0/share/results/maps/*
!reek_fullmatrix/realization-1/iter-0/share/results/maps/*
!reek_fullmatrix/realization-2/iter-0/share/results/maps/*
!reek_fullmatrix/realization-3/iter-0/share/results/maps/*
!reek_fullmatrix/realization-0/iter-0/share/results/grids/*
!reek_fullmatrix/realization-0/iter-0/share/results/seismic/*
