01_drogon_design/*/*/eclipse/model/*
01_drogon_design/*/*/eclipse/include/*
01_drogon_design/*/*/share/results/maps/*
01_drogon_design/*/*/share/results/grids/*
01_drogon_design/*/*/share/results/seismic/*
01_drogon_design/*/*/share/results/gravity/*
01_drogon_design/*/*/share/results/images/*
01_drogon_design/*/*/share/results/polygons/*
01_drogon_design/*/*/share/results/wells/*
01_drogon_design/*/*/share/observations/*
01_drogon_design/*/*/rms
01_drogon_design/*/*/sim2seis
01_drogon_design/*/*/share/results/tables/*
01_drogon_design/*/*/share/results/volumes/*
01_drogon_design/*/*/tracer
# 01_drogon_design/share/*
01_drogon_design/share/observations/*
01_drogon_ahm/*/*/eclipse/model/*
01_drogon_ahm/*/*/eclipse/include/*
01_drogon_ahm/*/*/share/results/maps/*
01_drogon_ahm/*/*/share/results/grids/*
01_drogon_ahm/*/*/share/results/seismic/*
01_drogon_ahm/*/*/share/results/gravity/*
01_drogon_ahm/*/*/share/results/images/*
01_drogon_ahm/*/*/share/results/wells/*
01_drogon_ahm/*/*/share/observations/*
01_drogon_ahm/*/*/rms/*
!01_drogon_ahm/*/*/rms/output/wells/*
!01_drogon_ahm/*/*/rms/output/zone/*
01_drogon_ahm/*/*/sim2seis
01_drogon_ahm/*/*/share/results/tables/*
01_drogon_ahm/*/*/share/results/volumes/*
!01_drogon_ahm/*/*/share/results/tables/*.csv
!01_drogon_ahm/*/*/share/results/tables/*.yml
!01_drogon_ahm/*/*/share/results/volumes/*.csv
01_drogon_ahm/*/*/tracer
# 01_drogon_ahm/share/*
01_drogon_ahm/share/observations/*

!01_drogon_ahm/share/observations/tables
!01_drogon_design/share/observations/tables
# */share/*
*stderr*
*stdout*
*.roff
*.irap
*.log*
*target
*INC
*.OK
*JOB_LOG
*lsf_info.json
*rms_exec_env.json
*RFT*
!01_drogon_design/*/*/share/results/tables/*.csv
!01_drogon_design/*/*/share/results/tables/*.yml
01_drogon_design/*/*/share/results/tables/*unsmry*
!01_drogon_design/*/*/share/results/volumes/*.csv
!01_drogon_design/*/*/eclipse/model/*.UNSMRY
!01_drogon_design/*/*/eclipse/model/*.SMSPEC

!01_drogon_ahm/*/*/eclipse/model/*.UNSMRY
!01_drogon_ahm/*/*/eclipse/model/*.SMSPEC
01_drogon_ahm/*/*/share/results/tables/*unsmry*
!01_drogon_ahm/realization-0/iter-0/eclipse/model/*
!01_drogon_ahm/realization-0/iter-0/eclipse/include/*
!01_drogon_ahm/realization-0/iter-0/share/results/wells/*
!01_drogon_ahm/realization-0/iter-0/share/results/grids/eclgrid.roff
!01_drogon_ahm/realization-0/iter-0/share/results/grids/eclgrid--poro.roff
!01_drogon_ahm/realization-0/iter-0/share/results/grids/eclgrid--pressure--20200701_20190701.roff
!01_drogon_ahm/realization-0/iter-0/share/results/grids/geogrid.roff
!01_drogon_ahm/realization-0/iter-0/share/results/grids/geogrid--facies.roff
!01_drogon_ahm/realization-0/iter-0/share/results/grids/geogrid--phit.roff
!01_drogon_ahm/realization-0/iter-0/share/results/seismic/seismic--amplitude_depth--20180701_20180101.segy
!01_drogon_ahm/realization-0/iter-0/share/results/seismic/seismic--amplitude_depth--20200701_20190701.segy
!01_drogon_ahm/realization-0/iter-0/share/results/maps/*amplitude*
!01_drogon_ahm/realization-0/iter-0/share/results/maps/*oilthickness*
!01_drogon_ahm/realization-0/iter-0/share/results/maps/*ds_extract*
!01_drogon_ahm/realization-1/iter-0/share/results/grids/eclgrid.roff
!01_drogon_ahm/realization-1/iter-0/share/results/grids/eclgrid--poro.roff
!01_drogon_ahm/realization-1/iter-0/share/results/grids/eclgrid--pressure--20200701_20190701.roff
!01_drogon_ahm/realization-1/iter-0/share/results/grids/geogrid.roff
!01_drogon_ahm/realization-1/iter-0/share/results/grids/geogrid--facies.roff
!01_drogon_ahm/realization-1/iter-0/share/results/grids/geogrid--phit.roff
!01_drogon_ahm/realization-1/iter-0/share/results/seismic/seismic--amplitude_depth--20180701_20180101.segy
!01_drogon_ahm/realization-1/iter-0/share/results/seismic/seismic--amplitude_depth--20200701_20190701.segy
!01_drogon_ahm/realization-1/iter-0/share/results/maps/*amplitude*
!01_drogon_ahm/realization-1/iter-0/share/results/maps/*oilthickness*
!01_drogon_ahm/realization-1/iter-0/share/results/maps/*ds_extract*
!01_drogon_ahm/share/observations/maps/*amplitude*
!01_drogon_ahm/*/iter-0/sim2seis/output/4d_attribute_maps/*
!01_drogon_ahm/*/iter-3/sim2seis/output/4d_attribute_maps/*
!01_drogon_ahm/share/observations/seismic/*


*stea*
*STEA*
