language: python
dist: bionic

env:
  global:
    # If you want the CI to (temporarily) run against your fork of webviz-subsurface,
    # change the value her from "equinor" to your username.
    - SUBSURFACE_REPO_OWNER="equinor"
    # If you want the CI to (temporarily) run against another branch than master,
    # change the value her from "master" to the relevant branch name.
    - SUBSURFACE_REPO_BRANCH="master"
    - INSTALL_ROOT=$HOME/install

addons:
  chrome: stable

services:
  - xvfb

python:
  - "3.6"

before_install:
  - sudo apt-get -qq update
  - pip freeze | grep -vw "pip" | xargs pip uninstall -y
  - pip install --upgrade pip
  - export PYTHONPATH=$INSTALL_ROOT/lib/python$TRAVIS_PYTHON_VERSION/site-packages:$INSTALL_ROOT/lib/python$TRAVIS_PYTHON_VERSION/dist-packages:$PYTHONPATH

install:
  - wget https://chromedriver.storage.googleapis.com/$(wget https://chromedriver.storage.googleapis.com/LATEST_RELEASE -q -O -)/chromedriver_linux64.zip
  - unzip chromedriver_linux64.zip
  - export PATH=$PATH:$PWD
  - pip install yamllint
  - pip install git+https://github.com/equinor/libecl
  - pip install git+https://github.com/equinor/fmu-ensemble
  - sudo apt-get update
  - sudo apt-get install libboost-all-dev liblapack-dev
  - pushd ..
  - git clone --recursive https://github.com/OPM/opm-common.git
  - mkdir opm-common/build
  - pushd opm-common/build
  - cmake .. -DCMAKE_PREFIX_PATH=$INSTALL_ROOT
             -DCMAKE_INSTALL_PREFIX=$INSTALL_ROOT
             -DBUILD_TESTING=OFF
             -DBUILD_SHARED_LIBS=ON
             -DOPM_ENABLE_PYTHON=ON
             -DOPM_INSTALL_PYTHON=ON
  - make -j4 install
  - popd
  - popd
  - pip install ecl2df
  - git clone --depth 1 --branch $SUBSURFACE_REPO_BRANCH https://github.com/$SUBSURFACE_REPO_OWNER/webviz-subsurface
  - pushd webviz-subsurface
  - pip install .[tests]
  - pip install dash[testing]
  - sed -i "s&\./webviz-subsurface-testdata/&\.\./&g" tests/integration_tests/test_raw_data_example.py
  - sed -i "s&\./webviz-subsurface-testdata/&\.\./&g" tests/integration_tests/test_aggregated_data_example.py
  - popd

script:
  - yamllint .
  - pushd webviz-subsurface
  - pytest tests --forked
  - popd
  - webviz build ./webviz_examples/full_demo.yaml --portable ./webviz_examples/example_subsurface_app
